body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.header-li{
    display: inline-block;
    margin-right: 47px;
}
.header-ul{
    text-align: center;
}
.header-li > a{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}
.header{
    padding: 53px 0;
}
.bg-section{
    background-image: url('../img/bg.png');
    padding-top: 138px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 1300px;
    height: 500px;
}
.bg-text{
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    padding-bottom: 24px;
}
.button{
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
    padding: 10px 120px;
    margin: 0 auto;
}
.bg-section2{
    background-color: #1A6E88;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.bg-text2{
    max-width: 726px;
    height: 265px;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    padding: 135px 280px;
}