body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 30px 0;
   
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo > div:first-child{
    margin-right: 15px;
}
.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;;
}
.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0,6);
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-li{
    display: inline-block;
}
.header-li:not(:last-child){
    margin-right: 20px;
}
.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}
.header-li > a:hover{
    font-weight: bold;
}
.header-nav > div{
    margin-left: 75px;
}
.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}
.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.what{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 77px 131px;
    background-color: #F4F5F7;
}
.what-text1{   
    flex-basis: 550px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-right: 29px;
}
.what-text2{   
    flex-basis: 550px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}
.icons-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 130px;
    background: #FFFFFF;
}

.manage{
    background-color: #FCF0E3;
    padding: 142px 0 193px;
}
.manage-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-mini__red{
    color: #F1592B;
}
.manage-section{
   background-color: #FFFFFF;
   padding: 30px 30px;
}
.manage-text{
    max-width: 459px;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}
.manage-flex-bottom{
    display: flex;
    justify-content: around;
    align-items: center;
}
.manage-flex-bottom > p{
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}
.manage-bottom-text{
    margin-left: 10px;
    max-width: 225px;
}
.manage-animation:hover{
    animation-name: manage-anim;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes manage-anim{
    0%   {transform: scale(0.8);}
    100% {transform: scale(1.5);}
}

.busy{
    padding: 100px 0;
}
.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-mini{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 25px;
}
.text-mini__blue{
    color: #0189D1;
}
.title-inner{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    max-width: 462px;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
}
.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
    color: #2B292D;
}

.info{
    padding: 40px 0 100px;
}
.info-flex{
    display: flex;
    justify-content: space-between;
}
.info-p{
    font-size: 18px;
    max-width: 360px;
    line-height: 26px;
    margin-bottom: 10px;
}
.info-p > span{
    font-weight: bold;
}
.info-link{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #3040C4;
    text-decoration: underline;
}

.text-main2{
    margin: 0 auto;
}

.section-2{
    background: rgba(0, 161, 198, 0.07);
    
}
.section-text2{
    max-width: 535 px;
    margin: 0 auto;
    text-align: center;
}
.section-text2-text1{
    font-size: 22px;
    color: #2B292D;
    padding: 108px 0 0;
}
.section-text2-text2{
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    padding: 30px 300px;
}
.section-text2-text3{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    padding: 0 300px;
}
.button2{
    text-align: center;
    padding: 34px 0 0;
    cursor: pointer;
}
.button2-button1{
    background: #3040C4;
    padding: 17px 28px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}
.button2-button1:hover{
    background: #FFFFFF;
    color: #3040C4;
    transition: 1s;
}
.button2-button2{
    background: #FFFFFF;
    padding: 17px 28px;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
}
.button2-button2:hover{
    background: #000000;
    color: #FFFFFF;
    transition: 1s;
}
.icons-section-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    padding: 110px 130px;
}
.icons-visitors > a{
    text-decoration: none;
}
.icons-visitors:nth-child(1), .icons-visitors:nth-child(3), .icons-visitors:nth-child(4){
    max-width: 262px;
    height: 300px;
    border-radius: 8px;
    background: #FFFFFF;
    text-align: center;
   
}
.icons-visitors:nth-child(2){
    max-width: 262px;
    height: 300px;
    border-radius: 8px;
    background: #3141C5;;
    text-align: center;
   
}
.text-visitors{
   padding: 35px 25px;
   color: #2B292D;
    font-size: 22px;
}


.bold{
    font-weight: bold;
}



.section-text3{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.section-text3-text1{
    max-width: 588px;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    text-align: center;
   padding: 90px 250px 0;
}
.section-text3-text2{
    max-width: 554px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
    color: #172342;
    padding: 26px 250px 0;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}
.grid-container > img{
    width: 100%;
    height: 100%;
}
.grid-container > img:nth-child(1){
    grid-area: one;
}
.grid-container > img:nth-child(2){
    grid-area: two;
}
.grid-container > img:nth-child(3){
    grid-area: three;
}
.grid-container > img:nth-child(4){
    grid-area: four;
}
.grid-container > img:nth-child(5){
    grid-area: five;
}
.grid-container > img:nth-child(6){
    grid-area: six;
}
.grid-container > img:nth-child(7){
    grid-area: seven;
}

.bg-grey{
    background: #F4F5F7;
    padding: 73px 0;
}

.free-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.free-title{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    margin-bottom: 12px;
}
.free-text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 550px;
    margin-bottom: 25px;
}
.free-input{
    width: 385px;
    padding: 17px 0 18px 15px;
    margin-right: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
}
.free-input:focus{
    outline: none;
}
.free-input::placeholder{
    font-size: 18px;
    color: #2B292D;
}
.animation-img{
    animation-name: img;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes img{
    0%{
        top: 0;
    }
    25%{
        top: -25px;
    }
    50%{
        top: -40px;
    }
    75%{
        top: -25px;
    }
    100%{
        top: 0;
    }
}


@media (max-width: 1140px){
    .container{
        max-width: 950px;
    }
    .header{
        padding: 15px 0;
        display: none;
    }
    .busy{
        padding: 80px 0;
    }
    .info-p{
        max-width: 320px;
    }
}
@media (max-width: 1000px){
    .container{
        max-width: 850px;
    }
    .busy-flex{
        flex-direction: column;
        text-align: center;
    }
    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }
    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }
    .info-flex > div:not(:first-of-type){
        margin-bottom: 30px;
    }
    .grid-container{
        display: grid;
        grid-template-areas: 
        "one three"
        "two three"
        "four five"
        "four six";
        gap: 50px;
    }
    .grid-container > img:nth-child(7){
        grid-area: seven;
        display: none;
    }
}
@media (max-width: 800px){
    .container{
        max-width: 750px;
    }
    icons-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30x 100px;
        background: #FFFFFF;
    }
    .icons{
        width: 200%;
        height: 200%;
    }
}

@media (max-width: 550px){
    .container{
        max-width: 450px;
    }
    .busy{
        padding: 50px 0;
    }
    .title-inner{
        font-size: 48px;
        margin-bottom: 20px;
    }
    .busy img{
        width: 100%;
    }
    .info-p{
        max-width: 100%;
    }
    .grid-container{
        display: grid;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
        gap: 50px;
    }
}