body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 30px 0;
   
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo > div:first-child{
    margin-right: 15px;
}
.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;;
}
.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0,6);
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-li{
    display: inline-block;
}
.header-li:not(:last-child){
    margin-right: 20px;
}
.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}
.header-li > a:hover{
    font-weight: bold;
}
.header-nav > div{
    margin-left: 75px;
}
.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}
.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}
.text-main2{
    margin: 0 auto;
}

.section-2{
    background: #00A1C6;
}
.section-text2{
    max-width: 535 px;
    margin: 0 auto;
    text-align: center;
}
.section-text2-text1{
    font-size: 22px;
    color: #2B292D;
    padding: 108px 0 0;
}
.section-text2-text2{
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    padding: 30px 300px;
}
.section-text2-text3{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    padding: 0 300px;
}
.button2{
    text-align: center;
    padding: 34px 0 0;
    cursor: pointer;
}
.button2-button1{
    background: #3040C4;
    padding: 17px 28px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}
.button2-button1:hover{
    background: #FFFFFF;
    color: #3040C4;
    transition: 1s;
}
.button2-button2{
    background: #FFFFFF;
    padding: 17px 28px;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
}
.button2-button2:hover{
    background: #000000;
    color: #FFFFFF;
    transition: 1s;
}
.icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    padding: 110px 130px;
}
.icons-visitors > a{
    text-decoration: none;
}
.icons-visitors:nth-child(1), .icons-visitors:nth-child(3), .icons-visitors:nth-child(4){
    max-width: 262px;
    height: 300px;
    border-radius: 8px;
    background: #FFFFFF;
    text-align: center;
   
}
.icons-visitors:nth-child(2){
    max-width: 262px;
    height: 300px;
    border-radius: 8px;
    background: #3141C5;;
    text-align: center;
   
}
.text-visitors{
   padding: 35px 25px;
   color: #2B292D;
    font-size: 22px;
}

.text-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 77px 131px;
    background-color: #F4F5F7;
   
}

.bold{
    font-weight: bold;
}
.section-text1{   
    flex-basis: 550px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-right: 29px;
}
.section-text2{   
    flex-basis: 550px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}
.icons-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 130px;
    background: #FFFFFF;
}


.section-text3{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.section-text3-text1{
    max-width: 588px;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    text-align: center;
   padding: 90px 250px 0;
}
.section-text3-text2{
    max-width: 554px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
    color: #172342;
    padding: 26px 250px 0;
}
.wrapper-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    padding: 50px 0;
    height: 210px;
}
.icons3:nth-child(3){
    grid-row: span 2;
}
.icons3:nth-child(4){
    grid-row: span 2;
}
