*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
   }
.container{
    max-width: 1000px;
    margin: 16px auto 14.64px;
    background-color: #E5E5E5;
        margin-bottom: 47px;
}
.logo{
    margin-top: 16px;
    width: 100px;
    height: 38.36px;
    margin-bottom: 14.64px;
}
.nav-li{
    display: inline-block;
    font family: Montserrat
    font style: Regular
    font size: 18px
    line height: 22px
    line height: 100%
    align: Left
    vertical align: Top
    letter spacing: 2%
       
}
.nav-li:not(:last-of-type){
    margin-right: 26px;
}
.nav-link{
     color: black;
     text-decoration: none;
}
.nav-link:hover{
    color:#FA4A0C;
}

.sec-image{
    width: 1000px;
    height: 314px;
    top: 138px;
    margin-bottom: 47px;
  
    
}
.main{
    background-color: #E5E5E5;
    width: 1000px;
    margin-left: 220px;
}
.form1{
   width: 183px;
   height: 27px;
   background-color: #C4C4C4;
   color: #000000;
   font family: Montserrat
    font style: Regular
    font size: 14px
    line height: 17px
    line height: 100%
    align: Left
    vertical align: Top
    letter spacing: 2%
    
}
.div-form1{
    margin-bottom: 10px;
}

.form2{
    width: 183px;
   height: 27px;
   background-color: #C4C4C4;
   color: #000000;
   font family: Montserrat
    font style: Regular
    font size: 14px
    line height: 17px
    line height: 100%
    align: Left
    vertical align: Top
    letter spacing: 2%
}

.div-form2{
    margin-bottom: 10px;
}

.form3{
    width: 183px;
   height: 27px;
   background-color: #C4C4C4;
   color: #000000;
   font family: Montserrat
    font style: Regular
    font size: 14px
    line height: 17px
    line height: 100%
    align: Left
    vertical align: Top
    letter spacing: 2%
}
.div-form3{
    margin-bottom: 10px;
}
.form4{
    font family: Montserrat
    font style: Regular
    font size: 14px
    line height: 17px
    line height: 100%
    align: Left
    vertical align: Top
    letter spacing: 2%
    color: #000000;
}
.div-form4{
    margin-bottom: 7px;
}
.form5{
    font family: Montserrat
    font style: Regular
    font size: 14px
    line height: 17px
    line height: 100%
    align: Left
    vertical align: Top
    letter spacing: 2%
}
.div-form5{
    margin-bottom: 7 px;
}
.form6{
    font family: Montserrat
    font style: Regular
    font size: 14px
    line height: 17px
    line height: 100%
    align: Left
    vertical align: Top
    letter spacing: 2%
    color: #000000;
    background-color: #C4C4C4;
}
.div-form6{
    magin-bottom: 9px;
}
.form7{
    width: 142px;
    height: 28px;
    left: 234px;
    background-color: #C4C4C4;
    margin-left: 14px;
    margin-top: 9px;
}
.div-form7{
    margin-bottom: 37px;
    margin-top: 9px;
}
